{
  "steam_id": "600760",
  "saved_path": "",
  "paths": {
    "root_path": "/tmp/sdsm"
  },
  "port": 5000,
  "language": "english",
  "servers": [
    {
      "id": 1,
      "name": "My Stationeers Server 1",
      "world": "Mars: The Canyon",
      "world_id": "Mars2",
      "start_location": "MarsSpawnCanyonOverlook",
      "start_condition": "DefaultStart",
      "difficulty": "Normal",
      "port": 27016,
      "save_interval": 300,
      "auth_secret": "",
      "password": "",
      "max_clients": 10,
      "visible": false,
      "beta": false,
      "auto_start": false,
      "auto_update": false,
      "auto_save": true,
      "auto_pause": true,
      "mods": [],
      "restart_delay_seconds": 10,
      "server_started": "2025-10-26T05:58:25.808187059-07:00",
      "server_saved": "2025-10-26T05:59:05-07:00"
    },
    {
      "id": 2,
      "name": "My Stationeers Server 2",
      "world": "Europa: Colosseum",
      "world_id": "Europa",
      "start_location": "EuropaSpawnIcyBasin",
      "start_condition": "EuropaBrutal",
      "difficulty": "Stationeer",
      "port": 27019,
      "save_interval": 300,
      "auth_secret": "",
      "password": "",
      "max_clients": 10,
      "visible": false,
      "beta": false,
      "auto_start": false,
      "auto_update": false,
      "auto_save": true,
      "auto_pause": true,
      "mods": [],
      "restart_delay_seconds": 10
    }
  ],
  "update_time": "0001-01-01T00:00:00Z",
  "startup_update": false
}