{
  "steam_id": "600760",
  "saved_path": "",
  "paths": {
    "root_path": "/home/jon/SDSM/dist"
  },
  "port": 5000,
  "language": "english",
  "servers": [
    {
      "id": 1,
      "name": "Ice Ice Baby",
      "world": "Europa: Colosseum",
      "world_id": "Europa3",
      "language": "english",
      "start_location": "EuropaSpawnBalgatanPass",
      "start_condition": "EuropaDefault",
      "difficulty": "Stationeer",
      "port": 27016,
      "save_interval": 300,
      "auth_secret": "jvt",
      "password": "",
      "max_clients": 10,
      "visible": true,
      "beta": false,
      "auto_start": false,
      "auto_update": false,
      "auto_save": true,
      "auto_pause": true,
      "max_auto_saves": 5,
      "max_quick_saves": 5,
      "delete_skeleton_on_decay": false,
      "use_steam_p2p": false,
      "disconnect_timeout": 10000,
      "auto_port_forward": false,
      "use_game_upnp": false,
      "port_forward_probe_delay_seconds": 0,
      "player_saves": true,
      "player_save_excludes": [
        "76561198317218866",
        "76561198202535876",
        "76561197998972563"
      ],
      "shutdown_delay_seconds": 30,
      "mods": [],
      "restart_delay_seconds": 10,
      "scon_port": 27017,
      "bepinex_init_timeout_seconds": 5,
      "log_attach_rehydrate_kb": 0,
      "clients_query_retry_count": 0,
      "clients_query_retry_delay_seconds": 0,
      "welcome_message": "Welcome to [ServerName], [LastPlayer].  Try not to freeze! :)",
      "welcome_back_message": "Welcome back [LastPlayer].  Good to see you again!",
      "welcome_delay_seconds": 0,
      "server_started": "2025-11-13T14:32:51.692047992-08:00",
      "server_saved": "2025-11-10T16:35:35-08:00"
    },
    {
      "id": 2,
      "name": "Out of the Frying Pan",
      "world": "Vulcan: Foundry",
      "world_id": "Vulcan2",
      "language": "english",
      "start_location": "VulcanSpawnKalimarOutlook",
      "start_condition": "VulcanDefaultCommunity",
      "difficulty": "Stationeer",
      "port": 27019,
      "save_interval": 300,
      "auth_secret": "jvt",
      "password": "",
      "max_clients": 10,
      "visible": true,
      "beta": true,
      "auto_start": false,
      "auto_update": true,
      "auto_save": true,
      "auto_pause": true,
      "max_auto_saves": 5,
      "max_quick_saves": 5,
      "delete_skeleton_on_decay": false,
      "use_steam_p2p": false,
      "disconnect_timeout": 10000,
      "auto_port_forward": true,
      "use_game_upnp": false,
      "port_forward_probe_delay_seconds": 0,
      "player_saves": true,
      "player_save_excludes": null,
      "shutdown_delay_seconds": 2,
      "mods": [],
      "restart_delay_seconds": 10,
      "scon_port": 27020,
      "bepinex_init_timeout_seconds": 10,
      "log_attach_rehydrate_kb": 0,
      "clients_query_retry_count": 0,
      "clients_query_retry_delay_seconds": 0,
      "welcome_message": "",
      "welcome_back_message": "",
      "welcome_delay_seconds": 0,
      "server_started": "2025-11-11T20:04:47.366639786-08:00",
      "server_saved": "2025-11-14T08:55:26-08:00"
    }
  ],
  "update_time": "0000-01-01T00:00:00Z",
  "startup_update": true,
  "detached_servers": true,
  "tray_enabled": false,
  "tls_enabled": false,
  "tls_cert": "",
  "tls_key": "",
  "auto_port_forward_manager": false,
  "discord_default_webhook": "",
  "discord_bug_report_webhook": ""
}