{{/* Feather Icons: https://feathericons.com/ */}}

    {{define "icon_dashboard"}}
    <i class="icon-dashboard" data-feather="grid"></i>
    {{end}}

    {{define "icon_manager"}}
    <i class="icon-manager" data-feather="settings"></i>
    {{end}}

    {{define "icon_users"}}
    <i class="icon-users" data-feather="users"></i>
    {{end}}

    {{define "icon_logs"}}
    <i class="icon-logs" data-feather="align-left"></i>
    {{end}}

    {{define "icon_profile"}}
    <i class="icon-profile" data-feather="user"></i>
    {{end}}

    {{define "icon_tokens"}}
    <i class="icon-tokens" data-feather="key"></i>
    {{end}}

    {{define "icon_commands"}}
    <i class="icon-commands" data-feather="terminal"></i>
    {{end}}

    {{define "icon_logout"}}
    <i class="icon-logout" data-feather="log-out"></i>
    {{end}}

    {{define "icon_add"}}
    <i class="icon-add" data-feather="plus"></i>
    {{end}}

    {{define "icon_trash"}}
    <i class="icon-trash" data-feather="trash-2"></i>
    {{end}}

    {{define "icon_save"}}
    <i class="icon-save" data-feather="save"></i>
    {{end}}

    {{define "icon_play"}}
    <i class="icon-play" data-feather="play"></i>
    {{end}}

    {{define "icon_stop"}}
    <i class="icon-stop" data-feather="square"></i>
    {{end}}

    {{define "icon_restart"}}
    <i class="icon-restart" data-feather="refresh-cw"></i>
    {{end}}

    {{define "icon_edit"}}
    <i class="icon-edit" data-feather="edit"></i>
    {{end}}

    {{define "icon_upload"}}
    <i class="icon-upload" data-feather="upload"></i>
    {{end}}

    {{define "icon_download"}}
    <i class="icon-download" data-feather="download"></i>
    {{end}}

    {{define "icon_chevron_down"}}
    <i class="icon-chevron-down" data-feather="chevron-down"></i>
    {{end}}

    {{define "icon_chevron_up"}}
    <i class="icon-chevron-up" data-feather="chevron-up"></i>
    {{end}}

    {{define "icon_x"}}
    <i class="icon-x" data-feather="x"></i>
    {{end}}

    {{define "icon_info"}}
    <i class="icon-info" data-feather="info"></i>
    {{end}}

    {{define "icon_warning"}}
    <i class="icon-warning" data-feather="alert-triangle"></i>
    {{end}}

    {{define "icon_error"}}
    <i class="icon-error" data-feather="alert-circle"></i>
    {{end}}

    {{define "icon_success"}}
    <i class="icon-success" data-feather="check-circle"></i>
    {{end}}

    {{define "icon_arrow_left"}}
    <i class="icon-arrow-left" data-feather="arrow-left"></i>
    {{end}}

    {{define "icon_arrow_right"}}
    <i class="icon-arrow-right" data-feather="arrow-right"></i>
    {{end}}

    {{define "icon_external_link"}}
    <i class="icon-external-link" data-feather="external-link"></i>
    {{end}}

    {{define "icons/refresh.html"}}
    <i class="icon-refresh" data-feather="refresh-cw" aria-hidden="true"></i>
    {{end}}

    {{define "icons/download.html"}}
    <i class="icon-download" data-feather="download" aria-hidden="true"></i>
    {{end}}

    {{define "icons/delete.html"}}
    <i class="icon-delete" data-feather="trash-2" aria-hidden="true"></i>
    {{end}}

    {{define "icons/plus.html"}}
    <i class="icon-plus" data-feather="plus" aria-hidden="true"></i>
    {{end}}
