{
  "steam_id": "600760",
  "saved_path": "",
  "paths": {
    "root_path": "/home/jon/SDSM/cmd/sdsm"
  },
  "port": 5000,
  "language": "english",
  "servers": [],
  "update_time": "0001-01-01T00:00:00Z",
  "startup_update": true,
  "detached_servers": false,
  "tray_enabled": false,
  "tls_enabled": false,
  "tls_cert": "",
  "tls_key": "",
  "verbose_http": false,
  "verbose_update": false,
  "jwt_secret": "your-secret-key-change-in-production",
  "cookie_force_secure": false,
  "cookie_samesite": "none",
  "allow_iframe": false,
  "auto_port_forward_manager": false,
  "windows_discovery_wmi_enabled": true,
  "scon_repo_override": "",
  "scon_url_linux_override": "",
  "scon_url_windows_override": "",
  "discord_default_webhook": "",
  "discord_bug_report_webhook": ""
}