{{define "title"}}Manager Settings{{end}}
{{define "page"}}manager{{end}}

{{define "manager.html"}}
<div data-page-title="Manager Settings" class="flex flex-col gap-6">
    <!-- Manager Control on top -->
    <div>
        {{ template "manager_control_card" . }}
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-start">
        {{ template "manager_configuration_card" . }}
        {{ template "manager_discord_card" . }}
    </div>

    <!-- Full Width Below -->
    {{ template "manager_version_status_card" . }}
</div>
{{end}}