{
  "steam_id": "600760",
  "paths": { "root_path": "/srv/sdsm" },
  "port": 5000,
  "language": "english",
  "startup_update": true,
  "detached_servers": false,
  "tray_enabled": false,
  "tls_enabled": false,
  "tls_cert": "",
  "tls_key": "",
  "auto_port_forward_manager": false,
  "verbose_http": false,
  "verbose_update": false,
  "jwt_secret": "change-me-32+chars",
  "cookie_force_secure": false,
  "cookie_samesite": "none",
  "allow_iframe": false,
  "windows_discovery_wmi_enabled": true,
  "scon_repo_override": "",
  "scon_url_linux_override": "",
  "scon_url_windows_override": "",
  "discord_default_webhook": "",
  "discord_bug_report_webhook": "",
  "servers": []
}
