name: Security-Maintenance

on:
  schedule:
    - cron: '0 2 * * 1'
  workflow_dispatch: {}

jobs:
  govuln-weekly:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - name: Install govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest
      - name: Run govulncheck
        run: $(go env GOPATH)/bin/govulncheck ./...
